<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can contact me, the app creator, at cameron.tong2b@gmail.com, and
  access my projects at <%= link_to('my Github', 'https://github.com/cameronjtong') %>
</p>
