<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This app is intended as a directory for personal trainers. Athletes need not
  create profiles and may just browse the coaches page and search for a coach that
  matches their needs. Qualifications are currently based off of popular offerings at
  unnamed organizations.
</p>
